.banner {
  padding-top: 90px;
}

.intro-header {
  height: unset !important;
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.view {
  height: 100vh !important;
}
 .a{
     background:#000000;
 }
  .navbar:not(.top-nav-collapse) {
    background: transparent !important;
  }

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
    
  }
}

h1 {
  letter-spacing: 8px;

}

h5 {
  letter-spacing: 3px;

}
h1 {
  margin-top: 150px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
 
}

@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header
  .view {
    height: 700px;
  }
}
